.container {
    width: 600px;
    height: 600px;
    border:solid black;
    display:flex;
    justify-content:space-between;
    flex-direction: column;
    align-items: center;
   
  }
  .caja{
width: 100px;
height: 100px;
background-color:darkkhaki;
align-self: flex-start;
margin-left:40px ;}

.cajita-dos{
    width: 100px;
    height: 100px;
    background-color:darkseagreen;
align-self: center ;}
    .cajota-tres{
        width: 100px;
        height: 100px;
        background-color:blue;
    align-self: flex-end;
margin-right: 40px;}
        
    
